@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    ::-webkit-scrollbar{
        display: none;
    }
    scroll-behavior: smooth;
}

 
.fade-up {
    opacity: 0;  
    animation: fadeUp 2s ease-out forwards; 
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(50px); 
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
}


.fade-right {
    opacity: 0;  
    animation: fadeRight 2s ease-out forwards; 
  }

  @keyframes fadeRight {
    from {
      opacity: 0;
      transform: translateX(50px); 
    }
    to {
      opacity: 1;
      transform: translateX(0); 
    }
}

.fade-left {
    opacity: 0;  
    animation: fadeLeft 2s ease-out forwards; 
  }

  @keyframes fadeLeft {
    from {
      opacity: 0;
      transform: translateX(-50px); 
    }
    to {
      opacity: 1;
      transform: translateX(0); 
    }
}